<?xml version='1.0' encoding='utf-8'?>
<widget id="com.crystalquest.game" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Crystal Quest</name>
    <description>A challenging crystal placement puzzle game</description>
    <author email="dev@crystalquest.com">Crystal Quest Team</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="AndroidMinSdkVersion" value="22" />
    <preference name="AndroidTargetSdkVersion" value="33" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>